// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { background-color: rgb(182, 245, 152); }
table#results th { width: 150px; text-align: left;}
table#results td { border-bottom: 1px solid #CCCCCC; }
table#results td.last { width: 100px; text-align: center; }
table#results .id { width: 50px; text-align: center; }
div#controls { float: left; width: 300px; }
div#history { padding: 5px; margin-left: 320px; width: 300px; border: 1px solid black; background-color: #cccccc; min-height: 50px;}
h3#history-title {margin-left: 400px;}
table#game_logs { width: 100%; }